.content-register{
    margin-left: 20%;
}
.item2{
    position: relative;
    width: 50%;
    background: #DDEAF5;
    margin-left: 3%;
    border-radius: 5px;

}
.login{
    background: #FFFFFF;
    /* box-shadow: 1px 1px 4px rgba(148, 143, 143, 0.25); */
    border-radius: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    margin-left: 3%;
    color: #06275B;

}

.update{
    /*background: bl;*/
    border-radius: 3px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    border: none;
    margin-left: 40%;
}
@media only screen and (max-width: 639px) {
    .item2{
        position: relative;
        width: 90%;
        background: #DDEAF5;
        margin-left: 3%;
        border-radius: 5px;

    }
    .content-register{
        margin-left: 2%;
    }
    .update{
        margin-left: 70%;
    }
}
